.contenedor {
    display: grid;
    gap: 20px;
    height: 700px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

    justify-content: center;
    align-content: end;
}
